#grid {
	background-color: #888888;
	padding: 5px;
	display: inline-block;
	position: absolute;
	left: 45%;
	top: 45%;
}

.row {
	background-color: red;
/*	padding: 5px; */
	position: relative;
/*	width: 170px;
	height: 65px;*/
}

.square {
	width: 50px;
	height: 50px;
	background-color: #eeffbb;
	color: #006;
	text-align: center;
	line-height: 50px;
/*	padding: 5px 0 0 0; */
	float: left;
}
/*
.text {
	position: absolute;
	left: 45%;
	top: 45%;
	width: 10px;
	height: 10px;
	background-color: #ffffff;
	color: #006;
	text-align: center;
	vertical-align: middle;
	float: left;
}*/

.verticalLine {
	width: 5px;
	height: 50px;
	float: left;
	background-color: #006;
}

.horizontalLine {
	width: 160px;
	height: 5px;
	background-color: #006;
	clear: left;
}

.horizontalWin {
	position: absolute;
	width: 140px;
	height: 5px;
	left: 5%;
	top: 45%;
/*	margin-right: auto;*/
	background-color: #600;
	display: none;
}

.verticalWin {
	position: absolute;
	width: 5px;
	height: 150px;
/*	left: 47.5%; 14.5%; */
	left: 82%;
	top: 10%;
	background-color: #600;
	z-index: 1;
	display: none;
}

.clear {
	clear: left;
}